.tile {
  transform: var(--tile-transform);
  transition: all 0.3s;

  // &:hover {
  //   transform: var(--tile-transform) scale(0.9);
  // }
}

.tile-svg-scale {
  transition: all 0.2s;
  &:hover {
    transform: scale(0.9);
  }
}
